<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <title>Jackson's Personal Site</title>
  <link rel="stylesheet" href="static/css/styles.css">


</head>

<body>
  <table cellspacing=30>
    <tr>
      <td> <img src="static/images/jackson_yu.jpg" alt="Jackson Profile Picture"></td>
      <td>
        <h1>Qichun (Jackson) Yu</h1>

        <p>Hi 👋 Nice to meet you 😀</p>
        <p>I'm a self-motivated Full-Stack Developer working in Winnipeg, Canada.</p>
        <p>💻 I use daily: .html, .css, .js .py</p>
        <table class="github">
          <tr>
            <td><img class="githubimg" src="static/images/github.png" alt="Github Logo"></td>
            <td><a href="https://github.com/JacksonYu92">JacksonYu92</a></td>
            <td>    </td>
            <td><img class="linkedinimg" src="static/images/linkedin.svg" alt="LinkedIn Logo"></td>
            <td><a class="footer-link" href="www.linkedin.com/in/jackson-qichun-yu">LinkedIn</a></td>
            <td>    </td>
            <td><img class="youtubeimg" src="static/images/youtube.png" alt="Youtube Logo"></td>
            <td><a href="https://www.youtube.com/channel/UCRCHf0kSCf_4GvOG42j9ClQ">Jackson Yu</a></td>

          </tr>
        </table>

      </td>
    </tr>
  </table>

  <h1 class="subtitle">Summary</h1>
  <hr>
  <table cellspacing="12">
    <tr>
      <td>
        <ul>
          <li>Highly motivated, honest and reliable individual seeking opportunities to start working in Accounting field complemented by Bachelor degree in Commerce from U of M</li>
          <li>Hones skills in prepared bank statements, data entry related accounts, prepared journal entries, maintained general ledgers, prepared financial statements, prepared tax returns, maintained accounts receivable and payable</li>
          <li>Proficient in Sage 50 (Simple Accounting), QuickBooks, and Microsoft Office applications including Word, Excel, PowerPoint, Access, and Outlook</li>
          <li>Good communications and interpersonal skills; fluent in Mandarin and Cantonese languages</li>
          <li>Able to work in a fast-paced environment with good attendance and punctuality record </li>
        </ul>
      </td>

    </tr>
  </table>

  <h1 class="subtitle">Education</h1>
  <hr>
  <table cellspacing="12">
    <tr>
      <td><strong>Bachelor of Commerce, Major Accounting and Finance (Hons)</strong></td>
      <td class="workdate"><strong>May 2011 – August 2015</strong></td>
    </tr>
    <tr>
      <td>Asper School of Business, University of Manitoba</td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>Knowledgeable in Financial Accounting, Managerial Accounting, Intermediate Accounting - Assets, Intermediate Accounting – Equities, Cost Accounting, Accounting Theory</li>
          <li>Corporate Finance, Investments, Financial Markets and Institutions, Corporate Finance Theory and Practice, Financial Management Practices</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><strong>Success Skills Centre</strong></td>
      <td class="workdate"><strong>May 2016</strong></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>QuickBooks Level 1</li>
          <li>Sage 50 (Simple Accounting) Level 1</li>
        </ul>
      </td>
    </tr>
  </table>

  <h1 class="subtitle">Work Experience</h1>
  <hr>
  <table cellspacing="12">
    <tr>
      <td><strong>Bookkeeper and Warehouse Technician (Manager, Since September 2018)</strong></td>
      <td class="workdate"><strong>May 2016 – Now</strong></td>
    </tr>
    <tr>
      <td>TheraVape Inc.</td>
      <td class="workdate">Winnipeg, MB</td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>As a bookkeeper of the company, responsible for entering company expenses into Quickbooks</li>
          <li>As a Warehouse Technician, accountable for batching of e-liquid, assembling caps and bottles, maintaining workplace cleanliness</li>
          <li>As a production manager, responsible for planning, coordinating and organizing all manufacturing process, making sure goods are produced efficiently</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><strong>Business Manager</strong></td>
      <td class="workdate"><strong>October 2013 – December 2014</strong></td>
    </tr>
    <tr>
      <td>Miniwin Electronic Commerce</td>
      <td class="workdate">Winnipeg, MB</td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>As a stockholder of the company, responsible for preparing and delivering business plans including forecasting, budgets, cost and SWOT analysis.</li>
          <li>Assisted in designing advertisement flyers to promote business awareness.</li>
          <li>Managed and updated the company’s website content using WordPress.</li>
          <li>Attracted potential business partners through networking and meetings to increase our client base.</li>
        </ul>
      </td>
    </tr>
  </table>
  <h1 class="subtitle">Additional Work Experience</h1>
  <hr>
  <table cellspacing="12">
    <tr>
      <td><strong>Cook</strong></td>
      <td class="workdate"><strong>February 2017 – Now</strong></td>
    </tr>
    <tr>
      <td>Asian Hotpot</td>
      <td class="workdate">Winnipeg, MB</td>
    </tr>
    <tr>
      <td><strong>Cook</strong></td>
      <td class="workdate"><strong>February 2019 – June 2019</strong></td>
    </tr>
    <tr>
      <td>Pizza Hotline</td>
      <td class="workdate">Winnipeg, MB</td>
    </tr>
    <tr>
      <td><strong>Waiter and Kitchen Helper</strong></td>
      <td class="workdate"><strong>November 2015 – March 2016</strong></td>
    </tr>
    <tr>
      <td>Chef Hung Restaurant</td>
      <td class="workdate">Vancouver, BC</td>
    </tr>
  </table>
  <h1 class="subtitle">Awards</h1>
  <hr>
  <table cellspacing="12">
    <tr>
      <td><strong>Received award in Fermat Mathematics Contest</strong></td>
      <td class="workdate"><strong>2009</strong></td>
    </tr>
    <tr>
      <td>University of Waterloo</td>
    </tr>
  </table>

  <h1 class="subtitle">Skills</h1>
  <hr>
  <table cellspacing="10">
    <tr>
      <td>
        <table>
          <tr>
            <td>iOS Development</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Web Developement</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>Photography</td>
            <td>⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Python Development</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
        </table>

      </td>
    </tr>

  </table>

  <hr>
  <a href="Hobbies.html">My Hobbies</a>
  <a href="contact-me.html">Contact Me</a>
</body>

</html>
